Questions/main.aux
Questions/main.fdb_latexmk
Questions/main.fls
Questions/main.log
Questions/main.out
Questions/main.dvi
Questions/main.synctex.gz
.vscode/settings.json
Questions/main.pdf
src/test_Erwann.jl
Manifest.toml
Project.toml
src/test_Erwann_2.jl
plots/powprob-huge.png
plots/powprob-large.png
plots/powprob-medium.png